*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #24bec4;
    font-family: 'Zilla Slab';
    color: #1d3030;
    letter-spacing: 1px;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    text-align: center;
    margin: 2rem 0;
}

header h1 {
    font-size: 2.6rem;
}


/********************************** filter box container */

.filter-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
    gap: 1rem;
}


/********************************** filter tools wrapper */

.filter-wrapper .filter-tools {
    width: 35%;
    background-color: #3bd6db;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, .2);
    border-radius: 3px;
    padding: 1.5rem;
}

.filter-wrapper .filter-tools #filter-form {
    position: sticky;
    top: 1rem;
}


/* input group */

.filter-wrapper .filter-tools .input-group {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;
    margin-bottom: 1.5rem;
}

.filter-wrapper .filter-tools .input-group label {
    font-size: 1.2rem;
    font-weight: bold;
}


/* select input */

.filter-wrapper .filter-tools .input-group #select-input {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: .6rem 1rem;
    font-size: 1.1rem;
    font-family: 'Zilla Slab';
    font-weight: bold;
    border: none;
    outline: none;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .2);
    border-radius: 50px;
    position: relative;
    /* set arrow sign */
    background: #fff url('../tools/down-arrow.svg') 95% 50%/1.4rem no-repeat;
    transition: all .3s;
    border-radius: 0 50px;
}

.filter-wrapper .filter-tools .input-group #select-input:hover {
    background-size: 1.5rem;
}


/* search input */

.filter-wrapper .filter-tools .input-group #search-input {
    border: none;
    outline: none;
    padding: .6rem 1rem;
    font-size: 1.2rem;
    font-family: 'Zilla Slab';
    border-radius: 50px 0;
}


/* submit button */

.filter-wrapper .filter-tools .search-btn {
    width: 100%;
    background: #fff;
    border: none;
    font-size: 1.2rem;
    padding: .6rem;
    border-radius: 50px;
    background: #1ca7ac;
    box-shadow: 1px 1px 6px rgba(255, 255, 255, .4);
    margin-top: 1rem;
    color: #fff;
    transition: all .2s;
}

.filter-wrapper .filter-tools .search-btn:hover {
    background: #199ba0;
}


/********************************** filter result wrapper */

.filter-wrapper .filter-result {
    width: 65%;
    background-color: #3bd6db;
    box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, .2);
    border-radius: 3px;
    padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}


/* img wrapper */

.filter-wrapper .filter-result .filter-img {
    width: 320px;
    height: 320px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, .4);
    position: relative;
    transform: translateY(-20px);
    animation: show-anim .4s ease forwards;
}

@keyframes show-anim {
    100% {
        transform: translateY(0);
    }
}

.filter-wrapper .filter-result .filter-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* image caption */

.filter-wrapper .filter-result .filter-img .img-caption {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    text-align: center;
    background-color: rgba(0, 0, 0, .7);
    font-size: 2rem;
    color: #fff;
    box-shadow: 0 0 7px rgba(255, 255, 255, .4)
}


/***************************** Responsize Code *************************/

@media screen and (max-width: 1400px) {
    /* image wrapper */
    .filter-wrapper .filter-result .filter-img {
        width: 290px;
        height: 290px;
    }
}

@media screen and (max-width: 1280px) {
    /* image wrapper */
    .filter-wrapper .filter-result .filter-img {
        width: 270px;
        height: 270px;
    }
    /* image caption text */
    .filter-wrapper .filter-result .filter-img .img-caption {
        font-size: 1.5rem;
        padding: .3rem;
    }
}

@media screen and (max-width: 1200px) {
    /* filter result */
    .filter-wrapper .filter-result {
        width: 60%;
    }
    /* filter tools */
    .filter-wrapper .filter-tools {
        width: 40%;
    }
    /* image wrapper */
    .filter-wrapper .filter-result .filter-img {
        width: 100%;
        height: 350px;
    }
}

@media screen and (max-width: 860px) {
    .filter-wrapper {
        flex-direction: column;
        align-items: center;
    }
    .filter-wrapper .filter-result {
        width: 75%;
    }
    .filter-wrapper .filter-tools {
        width: 75%;
    }
    /* image wrapper */
    .filter-wrapper .filter-result .filter-img {
        width: 100%;
        height: 320px;
    }
}

@media screen and (max-width: 670px) {
    .filter-wrapper .filter-result {
        width: 100%;
    }
    .filter-wrapper .filter-tools {
        width: 100%;
    }
    /* image wrapper */
    .filter-wrapper .filter-result .filter-img {
        width: 100%;
        height: 340px;
    }
    /* top title in header */
    header h1 {
        font-size: 2rem;
    }
}

@media screen and (max-width: 440px) {
    /* image wrapper */
    .filter-wrapper .filter-result .filter-img {
        width: 100%;
        height: 250px;
    }
    /* top title in header */
    header h1 {
        font-size: 1.6rem;
    }
}